/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
	background2: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,237,191,1)), color-stop(100%,rgba(208, 191, 163,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,237,191,1) 0%,rgba(208, 191, 163,1) 100%);
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal.slomo h1, 
.reveal.slomo h2, 
.reveal.slomo h3, 
.reveal.slomo h4 {
	color: #2E0D23;
}

.reveal.slomo h1.inverted,
.reveal.slomo h2.inverted,
.reveal.slomo h3.inverted,
.reveal.slomo h4.inverted {
	color: #F7803C;
}

.reveal.slomo h1 {
	text-shadow: none;
}

.reveal.slomo h1 {
	-webkit-background-clip: text;
    color: transparent;
    background-color: rgba(46, 13, 35,0.5);
	-webkit-background-clip: text;
	text-shadow: rgba(255,237,191,0.5) 0 5px 6px;
}

.reveal.slomo h2 {
	margin-bottom: 1em;
	margin-top: 0.0em;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
	background: rgba(0,0,0,0.1);
}

 .reveal.slomo .progress span {
 	background: hsl(22, 70%, 54%);
 }

/*********************************************
 * CONTROLS
 *********************************************/

.reveal.slomo .controls {
	height: 40px;
	width: 130px;
}

.reveal.slomo .controls a.enabled {
	color: #F7803C;
}

.reveal .controls .left {
	top: 0px;
	left: 0px;
}

.reveal .controls .right {
	top: 0px;
	left: 30px;
}

.reveal .controls .up {
	top: 0px;
	left: 60px;
}

.reveal .controls .down {
	top: 0px;
	left: 90px;
}

/*****
 *
 */

.reveal.slomo a:not(.image) {
	color: #859900;
	font-weight: bold;
	text-decoration: none;

	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
	
.reveal.slomo a:not(.image):hover {
	color: #fdf6e3;
	background: #859900;
	text-shadow: none;
	font-weight: bold;
	border: none;
	border-radius: 2px;
}


.reveal ul li {
	margin-top: 0.5em;
}